
@{
    ViewBag.Title = "magcontrol";
    Layout = "~/Views/Shared/_Layoutmagcontrol.cshtml";
}   <style>
    #d{
        background:url(/uploads/LOGO.png);background-repeat:no-repeat;background-position-y:bottom;background-position-x:center;background-size:contain;
    }

    </style>
       <div class="jumbotron"id="dj">
         <div class="row">
         <div class=" col-sm-8">
             <h3 class="text-info"> لوحة التحكم / الصفحة الرئيسية   <a class="fa fa-cogs text-lg-right"></a> </h3> <hr />
             <h4>مرحباً بك في شـركة الصـلاحـي للصرافة والتحويلات</h4>
         </div> 
             <div class="col-sm-4" id="d">

             </div>           
         </div> 
      </div>
        
 
