<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scaleable=no">
    <title>@ViewBag.Title - Al-Salahi Exchange & Transfers Co. </title>
    <link href="~/plugin-framework/bootstrap.min.css" rel="stylesheet">
    <link href="~/plugin-framework/swiper.css" rel="stylesheet">
    <link href="~/plugin-framework/ionicons.css" rel="stylesheet">
    <link href="~/plugin-framework/styles.css" rel="stylesheet">
    <script src="~/plugin-frameworks/jquery-3.2.1.min.js"></script>

    <script src="~/plugin-frameworks/bootstrap.min.js"></script>

    <script src="~/plugin-frameworks/swiper.js"></script>


    <script src="~/plugin-frameworks/scripts.js"></script>
</head>
<body> 

            <div>
                @RenderBody()
            </div>
</body>
</html>

