@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup style="margin:1em">
    <h1 class="text-danger">تم قفل حسابك !</h1>
    <h2 class="text-danger">هذا الحساب تم قفله, الرجآء المحاولة لاحقاً.</h2>
</hgroup>
